/* .page-not-found {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2C3338;
} */

.bike-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  margin-left: 5px;
}

#filter form{
  display: flex!important;
  
}
.filter-wrapper{
  margin-left: -40px;
}
.filter-button{
  position: absolute;
  top: 10;
  right: 0;
  margin-right: 10px;
  margin-left: 20px;
}

.review-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.date-picker{
text-align: center;
}
.date-picker form{
  text-align: center;
  justify-content: center;
}

.not-found {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.signup-wrapper {
  background: #1db1c5;
  /* fallback for old browsers */
  background: rgb(16, 124, 207);
  background: linear-gradient(90deg, rgb(22, 157, 235) 0%, rgba(118, 184, 82, 1) 50%);
  font-family: "Roboto",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
}

.page-link{
  cursor: pointer;
}
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment-wrapper{
  width: 50%;
}

.user-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.user-container{
  display: flex;
  justify-content: space-evenly;
  
}